html,body{

 width:600px;
 margin:auto;

}
html{

position:relative;
min-height:100%;

}

body{

 margin: 0 0 40px 0 ;
 
}


header {
  
  width:600px;
  margin:auto;
  text-align:center;
}


header img{
  
  height:200px;
 
}



ul {

list-style-type:none;
margin:0;
padding:0;
overflow: hidden;
background-color: #7DE0D5;
width:600px;



}

#menu-items ul{


  background-color:white;
}




ul li{
  
	float:left;
  
}

ul li a{

   display:block;
   width:118px;
   text-align:center;
	
	padding:8px;
	text-decoration:none;
     padding: 14px 16px;
     color:#C28E9E;

}
ul li a:hover{


	background-color:#423733;
}

footer {
    width:600px;
position: absolute;
    left: 0;
    bottom: 0;
    height:30px;
    text-align:center;

}
small{
 width:600px;
 position:absolute;
 bottom:0px;
 height:0;
 text-align:center;
}



.column-three{

  margin: 0 10px 40px 80px;
  float:left;
}

#philosophy {

font-family: Brasserie;
color:#915F6F;
text-align:center;
}
#content{
font-family: Brasserie;
color:#915F6F;

  
}
#contact-form input{


  display:block;
  margin:20px;
  height:30px;
  width:200px;
}

#contact-form #message{

 margin:20px;

 height:70px;

margin-bottom:50px;

}

#contact-form #subscribe{

height:20px;
margin:0;
display:inline;
margin-right:0;
margin-top:130px;
 }

 label[for="subscribe"],#subscribe{
position:relative;
left:-200px;

 }
#store-img{

width:600px;

}